<footer>
    <hr>
    <p id="footType">CST-336 Internet Programming. 2024 &copy; Tyler Pruitt, Justin Park, Jonathan Ngo, Victor Perez</p>
    <p id="footType">Disclaimer: The information on this webpage is fictitious.</p>
    <p id="footType">It is used for academic purposes only.</p>
    <a href="https://csumb.edu/"><img id ="imagePRE" src = "/images/CSUMB-logo.jpg" ></a>
</footer>