<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body id ="login">   
    <h1 class = "bg-info p-4 text-white" id = "opening">Welcome!</h1>
    <h3 id = "welcoming">Please Sign in</h3>
    <form action="/login" method="post" id = "typer">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <%= usernameMessage %>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <%= passwordMessage %>
        <br>
        <button id = "logBtn" class="btn btn-success" type="submit">Login</button>
    </form>
    <br>

    <form action="/createAccount">
        <button id = "createBtn" class="btn btn-primary" type="submit">Create Account</button>
    </form>


    <%- include('partials/scripts.ejs') %>
</body>

</html>