<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body id="AllartBG">
    <%- include('partials/header.ejs') %>
    <h3>Welcome!</h3>


    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>
</body>

</html>